<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script>
$(function(){		
	$( "a" ).click(function( event ) {
		  event.preventDefault();
	
	$.getJSON('movielist', function( json ) {
	  $.each(json,function(index,element){
		  $("div").append("<a href='movie/"+element.movie_id+"'>" + element.movieName + "</a><br/>");
	  });
	 });
	});
});
</script>

</head>
<body>
<a href ="movielist" id="mov">Movies List</a>
<div align="justify"></div>
</body>
</html> 