<!DOCTYPE html>
<html>
  <head>
    <title></title>
   
   
  </head>
  <body>
    
    <h3>Songs list</h3>
    <p><%=docs.songs[0].songname%></p>
     <p><%=docs.songs[1].songname%></p>
   
  </body>
</html> 